uvicorn
fastapi
pydantic
beanie

singleton_package
json-advanced
python-dotenv
python-magic
debugpy
ipython

boto3
usso

aiohttp
aiocache
aiofiles

sqlalchemy 
alembic

pillow
colorthief
cairosvg
numpy
scikit-learn
cryptography

