uvicorn
fastapi
pydantic
httpx

singleton_package
json-advanced
python-dotenv
debugpy
ipython

aiofiles
aiocache
usso[fastapi]

beanie
fastapi-mongo-base
ufaas-fastapi-business

python-multipart
python-magic

boto3

pillow
colorthief
cairosvg
numpy
scikit-learn

cryptography
