uvicorn
fastapi
pydantic
beanie

singleton_package
json-advanced
python-dotenv
python-magic
debugpy
ipython

python-multipart
boto3
usso

aiohttp
aiocache
aiofiles

fastapi-mongo-base

pillow
colorthief
cairosvg
numpy
scikit-learn
cryptography

